.nested-checkbox-wrapper .nested-children {
  padding-left: 20px;
  border-left: 1px solid #888;
  margin-block: 5px;
}

.nested-checkbox-wrapper .checkbox-wrapper .checkbox-title {
  padding-left: 5px;
}

.nested-checkbox-wrapper .checkbox-content {
  display: flex;
  justify-content: space-between;
}
.nested-checkbox-wrapper .accordion-icon {
  margin-right: 10px;
  cursor: pointer;
}
.nested-checkbox-wrapper .arrow-up {
  color: #888;
}

.nested-checkbox-wrapper .arrow-down {
  color: blueviolet;
}

.nested-checkbox-wrapper .arrow-up:hover , .nested-checkbox-wrapper .arrow-down:hover {
  color: #000 !important;
}
