.folder {
  cursor: pointer;
  background-color: #ccc;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin-top: 6px;
  padding: 2px;
  display: flex;
  position: relative;
}

.folder .show-popup-btn {
  background-color: #888;
  padding: 5px;
}

.btns-section {
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  display: flex;
  position: absolute;
  top: 10px;
  right: 5px;
  box-shadow: 0 2px 8px #0003;
}

.btns-section > button {
  border: 1px solid #888;
  border-radius: 5px;
  padding-inline: 4px;
}

.selected {
  box-shadow: 1px 0 4px 1px #00000399;
}

.file {
  cursor: pointer;
  background-color: #eee;
  flex-direction: column;
  width: 300px;
  margin-top: 5px;
  padding-left: 5px;
  display: flex;
  position: relative;
}

.folder-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 90%;
  overflow: hidden;
}

.nested-checkbox-wrapper {
  width: 500px;
  overflow: auto;
}

.nested-checkbox-wrapper .nested-children {
  border-left: 1px solid #888;
  margin-block: 5px;
  padding-left: 20px;
}

.nested-checkbox-wrapper .checkbox-wrapper .checkbox-title {
  cursor: pointer;
  padding-left: 5px;
}

.nested-checkbox-wrapper .checkbox-content {
  justify-content: space-between;
  display: flex;
}

.nested-checkbox-wrapper .accordion-icon {
  cursor: pointer;
  margin-right: 10px;
}

.progress-bar .outer-box {
  border: 1px solid #000;
  border-radius: 10px;
  margin: 10px;
  overflow: hidden;
}

.progress-bar .inner-box {
  text-align: right;
  background-color: #0f0;
  transition: all .5s ease-in;
}

.notification {
  color: #fff;
  border-radius: 5px;
  align-items: center;
  margin: 10px;
  padding: 15px;
  display: flex;
  position: relative;
  box-shadow: 0 2px 4px #0003;
}

.slidein-left {
  animation: .5s ease-out slideInLeft;
}

.slidein-right {
  animation: .5s ease-out slideInRight;
}

.notification:after {
  content: "";
  width: 100%;
  height: 4px;
  animation: loader var(--animation-duration, 3s) linear 0s forwards;
  background-color: #888;
  position: absolute;
  bottom: 0;
  left: 0;
}

@keyframes popOut {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(.8);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes loader {
  0% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

.success {
  background-color: #4caf50;
}

.danger {
  background-color: #f44336;
}

.info {
  background-color: #2196f3;
}

.warning {
  background-color: #ff9800;
}

.top-left {
  position: fixed;
  top: 20px;
  left: 20px;
}

.top-right {
  position: fixed;
  top: 20px;
  right: 20px;
}

.bottom-right {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.bottom-left {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.close-icon {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  display: flex;
}

.close-icon:hover {
  color: #000;
}
/*# sourceMappingURL=index.db9ed22c.css.map */
