.parking-lot-wrapper .top-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.parking-lot-wrapper .container {
  margin: 10px
}

.parking-lot-wrapper .parking-spot {
  border: 1px solid #000;
  margin: 5px;
  padding: 5px;
  display: inline-block;
  border-radius: 5px;
  font-weight: 600;
  font-family: serif;
  width: 150px;
  height: 110px;
  text-align: center;
}
.parking-lot-wrapper .parking-spot.Bike {
  width: 110px;
  height: 130px;
}
.parking-lot-wrapper .parking-spot.Truck {
  width: 150px;
  height: 130px;
}
.parking-lot-wrapper .heading {
  color: #666;
}

.parking-lot-wrapper .parking-spot.active-spot {
  border: 1px solid rgb(25, 182, 25);
}
.parking-lot-wrapper .parking-lot {
  display: flex;
  flex-wrap: wrap;
}
.parking-lot-wrapper .vehicle-input {
  padding: 10px;
  border-radius: 8px;
  width: 250px;
  margin: 5px;
}
.parking-lot-wrapper .vehicle-entry-btn {
  padding: 5px 10px;
  margin: 5px;
  border: 1px solid #000;
  border-radius: 5px;
}

.parking-lot-wrapper .vehicle-icon {
  font-size: 24px;
}
.parking-lot-wrapper .vehicle-details {
  color: #0f3285;
}
.parking-lot-wrapper .exit-button {
  padding: 5px 10px;
  /* border: 1px solid #000; */
  border-radius: 5px;
  background: #c56a27;
  border: none;
}
.parking-lot-wrapper .exit-button:hover {
  color: #fff;
  background-color: #888;
}
.parking-lot-wrapper .parking-tickets {
  margin: 10px;
}

.parking-lot-wrapper .ticket-list {
  font-family: math;
  font-weight: 700;
}

.parking-lot-wrapper td, .parking-lot-wrapper th {
  border: 1px solid #000;
}


.custom-overlay {
  position: absolute;
    /* width: 100vw; */
    /* height: 100vh; */
    z-index: 1;
    opacity: 1;
    background: rgb(102 102 102 / 50%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.parking-lot-wrapper .generated-ticket {
  font-family: monospace;
  width: 350px;
}
.parking-lot-wrapper .generated-ticket .park-date {
  width: 90px;
}
.parking-lot-wrapper .border-dotted {
  border: 1px dashed #888 !important;
}