.progress-bar .outer-box {
    border: 1px solid #000;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
}

.progress-bar .inner-box {
    background-color: #0f0;
    text-align: right;
    transition: 0.5s ease-in;
}